:root {
  font-family: 'Yu Gothic', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 40px 20px;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
